# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore local development files
.env
venv/
.vscode/
*.log

# Ignore Node.js files (if applicable)
node_modules/
package-lock.json

# Ignore Git files
.git/
.gitignore

